.modalsize{
	background-color: white;
	font-size: 15px;
	border-radius: 12px;
}

h3{
	font-weight: bolder;
}

.test{
  color: white;
}

.box1 .box2 input[type="text"] {
  height: 35px;
  /*width: 500px;*/
  border: 0;
  font-size: 16px;
  border-bottom: 1px solid #e7e7e7;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.box3{
    border:0;
  	border-top-right-radius: 7px;
  	border-bottom-right-radius: 7px;
}

.box4{
	height: 35px;
}

.box input[type="email"], .box input[type="password"] {
  height: 35px;
  width: 300px;
  border: 0;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 7px;
  padding: 6px 0px;
}

.box input:hover,
.box input:focus{
  border: solid 0.5px #707070;
  box-shadow: 0 0 5px 0.5px #969696;
  border-radius: 7px;
}

.bold{
	font-weight: bold;
}

.set_img{
	height: 25%;
	width: 50%;
}