<page-header></page-header>
<div class="container">

	<div class="row">
	<div class="col-xs-12">
	<h1 class="text-center mainheading"><span>CONTACT US</span></h1>
	<br>
	</div>
	</div>
	<br><br>

	<div class="row">
	<div class="col-sm-8 col-xs-12">
	<div class="container-fluid">

	<div class="row" style="font-size: 17px; line-height: 150%;">
	We would love to hear from you about any and everything you want to share. You have a complaint shout on us, You have some recommendation discuss with us,You have a business queries shoot it right here….
	</div>
	<hr>
	<div class="row" style="font-size: 17px; line-height: 150%;">
	I am : 
	<div class="radio"><label><input type="radio" name="i_am">Customer</label></div>
	<div class="radio"><label><input type="radio" name="i_am">Shopkeeper</label></div>
	</div>
	<br>
	<div class="row">
	<div class="col-sm-6 col-xs-12">
	<form>
	    <div class="form-group">
	      <label for="name" style="font-size: 15px; line-height: 150%;">Name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Enter name">
	    </div>
	    <div class="form-group">
	      <label for="mob_no" style="font-size: 15px; line-height: 150%;">Contact Number:</label>
	      <input type="text" class="form-control" id="mod_no" placeholder="Enter contact number">
	    </div>
	    <div class="form-group">
	      <label for="email" style="font-size: 15px; line-height: 150%;">Contact Email:</label>
	      <input type="email" class="form-control" id="email" placeholder="Enter email">
	    </div>
	    <div class="form-group">
	      <label for="sel_enquiry" style="font-size: 15px; line-height: 150%;">Select Enquiry:</label>
	      <select id="sel_enquiry" class="form-control">
	                      <option>Feedback</option>
	                      <option>Enquiry</option>
	                      <option>Complaint</option>
	       </select>
	    </div>
	    <div class="form-group">
	      <label for="comments" style="font-size: 15px; line-height: 150%;">Comments:</label>
	      <textarea class="form-control" id="email" placeholder="Enter comments"></textarea> 
	    </div>
	    <button type="submit" class="btn btn-danger">Submit</button>
  	</form>
  	</div>
	</div>

	</div>
	</div>

	<div class="col-sm-offset-1 col-sm-3 col-xs-12">
	<div class="container-fluid" style="background-color: #feb4c2; font-size: 20px;">
		<br><br>
		<div class="row text-center">
		<h3 style="color: red;"><b>Customer Enquiry</b></h3>
		<p>+91-8894416412</p>
		<p>+91-9056505227</p>
		</div>
		<br>
		<div class="row text-center">
		<h3 style="color: red;"><b>Shopkeeper Enquiry</b></h3>
		<p>+91-9736999719</p>
		<p>+91-9882257372</p>
		</div>
		<br>
		<div class="row text-center">
		<h3 style="color: red;"><b>Mail Us At:</b></h3>
		<p>buckbarter@gmail.com</p>
		</div>
		<br><br>
	</div>
	</div>

	</div>

</div>
<br>
<br>