<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-danger" data-ng-if="(regCustForm.fname.$dirty && regCustForm.fname.$error.required) || (regCustForm.email.$dirty && regCustForm.email.$error.required) || (regCustForm.lname.$dirty && regCustForm.lname.$error.required) || (regCustForm.email.$dirty && regCustForm.email.$invalid) || (regCustForm.phno.$dirty && regCustForm.phno.$error.maxlength) || (regCustForm.phno.$dirty && regCustForm.phno.$error.required)">
    <label for="firstname" ng-if="regCustForm.fname.$dirty && regCustForm.fname.$error.required" >First name is required. </label>
    <label for="firstname" ng-if="regCustForm.fname.$dirty && regCustForm.fname.$invalid">enter a valid name. </label>
    <label for="lastname" ng-if="regCustForm.lname.$dirty && regCustForm.lname.$error.required">Last name is required. </label>
    <label for="em" ng-if="regCustForm.email.$dirty && regCustForm.email.$error.required">Email field is required.</label>
    <label for="em" ng-if="regCustForm.email.$dirty && regCustForm.email.$invalid">Please enter a valid Email address.</label>
    <label for="edit-phno" ng-if="regCustForm.phno.$dirty && regCustForm.phno.$error.maxlength">Mobile No. should be 10 digits</label>
    <label for="edit-phno" ng-if="regCustForm.phno.$dirty && regCustForm.phno.$error.required">Mobile No. is required</label>
  </div>             
    <form id="register-customer" name = "regCustForm" ng-submit = "regCustForm.$valid && frmCtrl.custRegister()" novalidate>
                <h2 style="font-family:verdana; color:red"><strong><center>REGISTER AS CUSTOMER</center></strong></h2>
                  <div class="row">
                    <div class="col-md-3"><label>First Name</label></div>
                    <div class="col-md-offset-1 col-md-8"><input type="text" ng-model = "frmCtrl.cust.fname" name="fname" id="firstname" tabindex="1" placeholder="First Name" ng-class= "{error: regCustForm.fname.$dirty && regCustForm.fname.$invalid" required></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3"><label>Last Name</label></div>
                    <div class="col-md-offset-1 col-md-8"><input type="text" ng-model = "frmCtrl.cust.lname" name="lname" id="lastname" tabindex="1" placeholder="Last Name" required></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3"><label>Email ID</label></div>
                    <div class="col-md-offset-1 col-md-8"><input type="email" ng-model = "frmCtrl.cust.email" name="email" id="em" tabindex="1" placeholder="Email ID" required></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3"><label>Password</label></div>
                    <div class="col-md-offset-1 col-md-8"><input type="password" ng-model = "frmCtrl.cust.passw" name="password" id="password" tabindex="1" placeholder="Password" required></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4"><label>Confirm Password</label></div>
                    <div class="col-md-offset-0 col-md-8"><input type="password" ng-model = "frmCtrl.cust.cpassw" name="password" id="cpassword" tabindex="1" placeholder="Confirm Password" required></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3"><label>Phone Number</label></div>
                    <div class="col-md-offset-1 col-md-8"><input type="text" ng-model = "frmCtrl.cust.phno" name="phno" id="edit-phno" tabindex="1" placeholder="Phone number" ng-maxlength="10" required></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3"><label>City</label></div>
                    <div class="col-md-offset-1 col-md-8"><input type="text" ng-model = "frmCtrl.cust.city" name="city" id="city" tabindex="1" placeholder="City" required></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3"><label>State</label></div>
                    <div class="col-md-offset-1 col-md-8"><input type="text" ng-model = "frmCtrl.cust.state" name="state" id="state" tabindex="1" placeholder="State" required></div>
                  </div>
                  <br>
                  <br>
                  <div class="col-xs-6 checkbox">
                    <input id="checkbox1" type="checkbox" name="remember">
                    <label for="checkbox1" class="check">Remember Me</label>   
                  </div>

                  <div class="col-xs-6">     
                        <input type="submit" name="customer-submit" id="customer-submit" ng-disabled = "regCustForm.$invalid" tabindex="1" btn btn-customer value ="Register">
                  </div>
    </form>
  </div>
</div>