<page-header></page-header>
<br>
<div ng-controller = "productController as pCtrl">
  <div class="modal fade" id="productModal">
    <div class="container-fluid productmodalsize">

      <div class="modal-dialog modal-lg" style="margin-top: -0.5%;">

        <div class="modal-body">

          <div class="container-fluid">

            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="close" data-dismiss="modal">x</button>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <!-- product image section -->
                <img ng-src="uploads/{{pCtrl.productModel.img}}" alt="Error" class="img-responsive"> 
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col-sm-12">
                    <h2 ng-bind= "pCtrl.productModel.Pname"></h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="label label-primary">{{pCtrl.productModel.Category}}</div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <p ng-bind= "pCtrl.productModel.Description"></p>
                  </div>
                </div>
                <!--
                <div class="row">
                  <div class="col-sm-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <a href="#">x reviews</a>
                  </div>
                    <div class="col-sm-6">
                      <a href="#" class="pull-right">Write a review</a>
                    </div> 
                  </div>-->
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Original Price : <br><del>₹ {{pCtrl.productModel.disPrice}}</del></h4>
                      <h2><b>₹ {{pCtrl.productModel.UnitPrice}}</b></h2>
                      <!--&nbsp;&nbsp;<small>Free Delivery</small> -->
                      <div class="col-sm-6">
                        <div class="col-sm-offset-2 col-sm-3">
                          <div class="label label-default text-center">{{pCtrl.productModel.Discount}}% OFF</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-2">
                      <button class="btn btn-default btn-lg" ng-click = "pCtrl.addQty()">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </div>
                    <div class="col-sm-2">
                      <input class="btn form-control text-center" ng-model = "pCtrl.productModel.Qty" value="1">
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-default btn-lg" ng-click = "pCtrl.subQty()">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-6">
                      <button class="btn btn-lg btn-warning" ng-disabled="!pCtrl.isAuth() || !pCtrl.checkQty()" title="{{!pCtrl.isAuth() ? 'Log in first' : ''}}">Buy Now</button>
                    </div>
                    <div class="col-sm-6">
                      <button class="btn btn-lg btn-success pull-right" ng-disabled="!pCtrl.isAuth() || !pCtrl.checkQty()" title="{{!pCtrl.isAuth() ? 'Log in first' : ''}}" ng-click="pCtrl.addToCart(pCtrl.productModel)" data-dismiss="modal">Add to Cart</button>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="text-center text-success" ng-show = "pCtrl.checkQty()"><b>In Stock</b></h4>
                      <h4 class="text-center text-danger" ng-show = "!pCtrl.checkQty()"><b>Not in Stock</b></h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <h4><b>Seller:</b></h4>
                      <p>Name of shop : {{pCtrl.user.Store_Name}}</p>
                      <p>Address :{{pCtrl.user.Address}} </p>
                      <p>Contact number : {{pCtrl.user.PhoneNo}}</p>
                      <p>email id : {{pCtrl.user.Email}}</p>
                      <p>Home Delievery : {{pCtrl.user.Home_Delivery}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="row">
      <div ng-show = "!pCtrl.check()">
       <h1 style="color: #5A33C7; margin-left: 25px;"><b>  Featured Products</b></h1>
       <ul class="products">

        <li ng-repeat = "prod in pCtrl.products">
          <div class="col-md-3 col-sm-4">
             <div>
              <button data-toggle="modal" href="#productModal" ng-click = "pCtrl.upProductModel(prod)"><img src = "uploads/{{prod.filename}}" height="200" width="200"/></button>
            </div>

         <h4 style="color: #E34963;"><b>Details:</b></h4>
         <p><b>Product Name :</b> {{prod.Pname}}</p>
         <p><b>Price :</b> ₹ {{prod.UnitPrice}} </p>
         <p><b>Description :</b> {{prod.Description}}</p>
         <p><b>Discount :</b> {{prod.Discount}} %</p>
         <button class="btn btn-primary btn-lg" ng-disabled="!pCtrl.isAuth() || prod.Quantity == 0" title="{{!pCtrl.isAuth() ? 'Log in first' : ''}}" ng-click="pCtrl.addToCart(prod)">Add to cart</button>
         <button class="btn btn-primary btn-lg" ng-disabled="!pCtrl.isAuth()" title="{{!pCtrl.isAuth() ? 'Log in first' : ''}}">Buy</button>

       </div>
     </li>

   </ul>

 </div>
 <div class = "row" ng-show = "pCtrl.check()">
   <h1 style="color: #5A33C7; margin-left: 25px;"><b>No Products Available</b></h1>
 </div>
 <br>
</div>
</div>
<br><br>