<page-header></page-header>
<div class="container">

	<div class="row">
	<div class="col-xs-12">
	<h1 class="text-center mainheading"><span>FREQUENTLY ASKED QUESTIONS</span></h1>
	<br>
	</div>
	</div>

	<div class="row" ng-controller = "footerController as fCtrl">
		<div class="col-sm-4 col-xs-12">
		<br><br><br><br>
		<table class="table table-hover">
			<tr><td ng-class="{active: fCtrl.isSelected(1)}" ng-click = "fCtrl.setTab(1)"><a >Registration with BuckBarter.com</a></td></tr>
			<tr><td ng-class="{active: fCtrl.isSelected(2)}" ng-click = "fCtrl.setTab(2)"><a>My Account and My Cart</a></td></tr>
			<tr><td ng-class="{active: fCtrl.isSelected(3)}" ng-click = "fCtrl.setTab(3)"><a>Selecting and Searching Products</a></td></tr>
			<tr><td ng-class="{active: fCtrl.isSelected(4)}" ng-click = "fCtrl.setTab(4)"><a>Selecting Preferred Store</a></td></tr>
			<tr><td ng-class="{active: fCtrl.isSelected(5)}" ng-click = "fCtrl.setTab(5)"><a>Order Modification/Cancellation</a></td></tr>
			<tr><td ng-class="{active: fCtrl.isSelected(6)}" ng-click = "fCtrl.setTab(6)"><a>What if I am unhappy with the services</a></td></tr>
			<tr><td ng-class="{active: fCtrl.isSelected(7)}" ng-click = "fCtrl.setTab(7)"><a>Payments and Delivery</a></td></tr>
			<tr><td></td></tr>
		</table>
		</div>
		<div class="col-sm-8 col-xs-12">

		<div class="container-fluid module" ng-show = "fCtrl.isSelected(1)">

			<div class="row">
			<div class="heading">
			<h3><b>REGISTRATION WITH BUCKBARTER.COM</b></h3>
			</div>
			</div>
			<br>

			<div class="row">
				<div class="row question">How can I register on BuckBarter?</div>

				<div class="row">
				To register in BuckBarter, you can visit the FREE SIGN UP link on the homepage and you will have to fill your all information in the registration section. The registration process is mandatory for placing your orders. You can however, fill up your shopping bag prior to your registration.</div>
				<br>

				<div class="row question">Why do I need to register for using BuckBarter?</div>

				<div class="row">BuckBarter ensures delivery of most of the products that you select to your doorstep, and hence it is important for us to know how to get to your doorstep.<br>

				The more precise your one time registration process; the easier it is for us to ensure that we are able to suggest the best suited stores in your neighborhood and also ensure that the store is able to effectively deliver your shopping bag to you. We would recommend that your registration to be complete and the aspects like your address are accurate.<br>

				Your address and contact number is shared with your selected store only to ensure accuracy and timely delivery of your shopping bag.</div>
				<br>

				<div class="row question">Can I shop without registering on the site?</div>

				<div class="row">No. While you can bag the products that you like, prior to you selecting your store, you will have to go through the mandatory registration process. The registration process enables you to view various stores that service your neighborhood and choose your preferred shop from within the list.</div>
				<br>

				<div class="row question">Is the registration process free and onetime?</div>

				<div class="row">Yes, the registration process on BuckBarter is absolutely free and you do not need to use your credit card / debit card any where during the registration process.<br>

				Additionally the registration process is one time, although you can modify your profile after you have completed the one time registration process.</div>
				<br><br>

		    </div>
			</div>
<!-- 			next module starts -->
			<div class="container-fluid module" ng-show = "fCtrl.isSelected(2)">

			<div class="row">
			<div class="heading">
			<h3><b>MY ACCOUNT AND MY CART</b></h3>
			</div>
			</div>
			<br>

			<div class="row">
				<div class="row question">What is My Account?</div>

				<div class="row">
				Registering to the My Account service is free and allows you to recall your personal information when visiting us next time, making it faster to place future orders.
				Once you have registered with us, you can log in using your user name and password. We'll provide you with a log of orders previously placed.</div>
				<br>

				<div class="row question">What is My Cart?</div>

				<div class="row">Like shopping carts in a retail store, My Cart helps you keep the things you want at one place, while you continue browsing or leave the site to think about it.</div>
				<br>

				<div class="row question">Can I remove products from my Cart?</div>

				<div class="row">Yes, if you wish to remove a particular product from your Cart, you can. You will be able to see all products in your cart. Click on the ‘Remove’ button next to the item you wish to remove from your Cart.</div>
				<br><br>

		    </div>
			</div>
			<!-- next module starts -->
			<div class="container-fluid module" ng-show = "fCtrl.isSelected(3)">

			<div class="row">
			<div class="heading">
			<h3><b>SELECTING AND SEARCHING PRODUCTS</b></h3>
			</div>
			</div>
			<br>

			<div class="row">
				<div class="row question">What kind of products are listed in BuckBarter.com</div>

				<div class="row">
				BuckBarter.com lists national and regional brands across all categories of essential items that one needs for day to day use. These packaged goods include various food and beverage brands, beauty product brands, daily household utilities, etc. The products are listed into categories to assist in easy location. All categories are listed on the left margin of BuckBarter.com; click on any of the categories to explore further.</div>
				<br>

				<div class="row question">How can I search for a product?</div>

				<div class="row">If you know the brand / product name, you could key in the same in the search bar and then browse through the results.Alternately, you could browse the relevant categories find the specific products.</div>
				<br>

				<div class="row question">What all information do I see on a product page?</div>

				<div class="row">Besides the product images, you can view the various pack versions/sizes and their respective MRPs. You can also read more about the brand. You can also see comments, recommendations and views of other shoppers regarding that brand. You can also score the product and contribute your own product reviews. You also get to view other products in the similar space along with their price points.</div>
				<br>

				<div class="row question">Are all products sold on MRP or do I get a discount?</div>

				<div class="row">BuckBarter.com lists MRP of all products. (please note that MRP values tend to change without notice and in case there is a variation in the list MRP andthe one stated by the retailer - please check the MRP on the product pack and consider that to be the right MRP). No product should be sold higher than the MRP value. The retailers can extend discounts on the the MRP at their discretion and the levels of discount, if any, would vary from retailer to retailer.</div>
				<br><br>

		    </div>
			</div>
			<!-- next module starts -->
			<div class="container-fluid module" ng-show = "fCtrl.isSelected(4)">

			<div class="row">
			<div class="heading">
			<h3><b>SELECTING A STORE</b></h3>
			</div>
			</div>
			<br>

			<div class="row">
				<div class="row question">How do I search for an Store?</div>

				<div class="row">
				The process is really simple. BuckBarter.com will detect your location automatically. You just have to visit the Shop By Store on BuckBarter.com and then check-in all the retailers that service your area. You can zero-in by using any of the four methods.<br>
				Either you can key in the name of the store and you will get to the exact store that you are looking out for.</div>
				<br>

				<div class="row question">What if the Store does not deliver?</div>

				<div class="row">The various neighborhood grocery stores have elected to be part of BuckBarter.com as they want to do their best to extend additional services to their valued customers - i.e. you. They have additionally been screened to ensure adequate infrastructure including ability of delivery of orders to your doorstep.<br>

				However, in a situation where your order has not been delivered, you can choose to call the retailer to remind him of the order (every time you place an order, you receive the retailers contact details). All payout to the retailer by you are to be done only after successful delivery of good, this gives you added security and convenience.</div>
				<br>

				<div class="row question">How does the Store get my order?</div>

				<div class="row">BuckBarter.com is a very well integrated online & on-ground solution. As soon as you place your order, it is instantly transmitted to the Store, you have chosen on his networked device.</div>
				<br>

				<div class="row question">Are all products sold on MRP or do I get a discount?</div>

				<div class="row">BuckBarter.com lists MRP of all products. (please note that MRP values tend to change without notice and in case there is a variation in the list MRP andthe one stated by the retailer - please check the MRP on the product pack and consider that to be the right MRP). No product should be sold higher than the MRP value. The retailers can extend discounts on the the MRP at their discretion and the levels of discount, if any, would vary from retailer to retailer.</div>
				<br>

				<div class="row question">Are there standard terms and conditions across all Stores?</div>

				<div class="row">No, all stores are encouraged to set their own terms and conditions.There is no force fitting on the store.<br>
				Please remember that BuckBarter.com is a co-created experience where-in all the Stores are independent retailers who join the network in-order to give you - the shopper a more convenient and hassel-free shopping experience.<br>
				The Shops therefore, might offer you varying levels of discount on the MRP, would have varying minimal order levels, store-timings and work-days, etc. and as a shopper you have an option to explore and choose a store based on whatever conditions best work for you. However, www.BuckBarter.com has its terms of service which you are encouraged to read up.</div>
				<br><br>

		    </div>
			</div>
			<!-- next module starts -->
			<div class="container-fluid module" ng-show = "fCtrl.isSelected(5)">

			<div class="row">
			<div class="heading">
			<h3><b>ORDER MODIFICATION/CANCELLATION</b></h3>
			</div>
			</div>
			<br>

			<div class="row">
				<div class="row question">How can I make a change in my order or cancel it?</div>

				<div class="row">
				If you need to make changes or cancel your order, please call us or email us at buckbarter@gmail.com
				Note: Order modification/cancellation in a domestic order, please give at atmost 2 hours notice after the order you made. If your order has already been shipped or delivered, we won't be able to cancel it or make changes.</div>
				<br>

				<div class="row question">What are the modes of refund available after cancellation?</div>

				<div class="row">Your refund amount shall be credited to the same Debit card/Credit card/Mobile wallet through which the payment was made.</div>
				<br><br>

		    </div>
			</div>
			<!-- next module starts -->
			<div class="container-fluid module" ng-show = "fCtrl.isSelected(6)">

			<div class="row">
			<div class="heading">
			<h3><b>WHAT IF I AM UNHAPPY WITH THE SERVICES</b></h3>
			</div>
			</div>
			<br>

			<div class="row">
				<div class="row question">I am unhappy with the service!</div>

				<div class="row">
				We are sorry to hear that you are not happy. Your smile is our promise! No frowns. If any, we'll tilt the curve.
				Just let us know how we failed to meet your expectations and we will fix it at the earliest. You can write to us at buckbarter@gmail.com or call us.</div>
				<br><br>

		    </div>
			</div>
			<!-- next module starts -->
			<div class="container-fluid module" ng-show = "fCtrl.isSelected(7)">

			<div class="row">
			<div class="heading">
			<h3><b>PAYMENTS AND DELIVERY</b></h3>
			</div>
			</div>
			<br>

			<div class="row">
				<div class="row question">How do I pay?</div>

				<div class="row">
				One of the key benefits of AaramShop is that you do not need to pay anything on the website and that you pay only when the shopping bag is delivered to you. You make your payments directly to the retailer in cash,or by other means like a credit card etc.<br>The financial transaction is between you the shopper and your chosen neighborhood store. </div>
				<br>

				<div class="row question">Can I pay by credit / debit cards or similar means?</div>

				<div class="row">Yes, surely you can pay through them.</div>
				<br>

				<div class="row question">Do I need to pay more than the MRP?</div>

				<div class="row">No you do not. BuckBarter.com tries it’s level best to keep the MRPs updated on all the products listed, the MRP listed on the product that is delivered to you should be considered the final MRP.<br>Please do refer to the AaramShops terms and conditions to verify any charges for delivery services extended.</div>
				<br>

				<div class="row question">What if there are a few items less in the shopping bag?</div>

				<div class="row">Your preferred AaramShops makes a sincere effort to ensure it have all possible brands (and their product sizes) are available with them, however it is quite possible that the product you order might be out of stock.<br>
				If the retailer is unable to fulfill the order completely, he will discount the cost of item which he is unable to provide from the total cost of the products delivered.<br>
				Please do verify the contents of the delivery to ensure that match your order.</div>
				<br>

				<div class="row question">What if there is a variation in the bill?</div>

				<div class="row">Please ask your retailer to explain the variation in the bill, if any. The MRP on the product pack should be considered final.
				Your neighborhood store is not charged any listing fee, transaction fee or any other charges on account of online listing on https://www.BuckBarter.com , hence there are no additional costs on account of availing the their services.</div>
				
				<br><br>

		    </div>
			</div>
			<!-- finish -->
			</div>

	</div>

</div>
<br>