<div class="navbar footer navbar-inverse" id="footer">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4">
                <div class="heading">COMPANY</div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">About Us</a></li><br>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="heading">NEED HELP ?</div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">FAQs</a></li><br>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4" id="together">
                <div class="heading">KEEP IN TOUCH</div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a></li>]
                        <li><a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a></li>
                        <li><a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center" style="color: white"> Copyright &copy BuckBarter 2017. All right reserved. </p>
            </div>
        </div>

    </div>       
</div>