<header ng-controller="headerController as hdCtrl">
  <div class="row ">
    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BuckBarter</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <div class="row">
            <ul class="nav navbar-nav navbar-right">
              <li class="text-center test" ng-show="hdCtrl.isAuthenticated">Welcome {{hdCtrl.names}}</li>
              <li ng-hide="hdCtrl.isAuthenticated" ui-sref-active="active"><a ui-sref="register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
              <li ng-show="hdCtrl.isAuthenticated" ui-sref-active="active"><a ui-sref="logout"><span class="glyphicon glyphicon-user"></span>LogOut</a></li>
              <li ng-hide="hdCtrl.isAuthenticated" ui-sref-active="active"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>