<!-- <div class="modal fade" id="myModal"> -->
    <div class="container-fluid">
    <!-- <div class="modal-dialog modalsize"> -->

     <!--  <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h3 class="text-center">Login to BuckBarter.com</h3>
      </div> -->
      <br>
      <h1 class="text-center">Login to BuckBarter.com</h1>
      <div class="modal-body" ng-controller = "loginController as logCtrl">
        <div class="alert alert-danger" ng-show="(login_form.pass.$dirty && login_form.pass.$error.required) || (login_form.email.$dirty && login_form.email.$error.required) || (login_form.email.$dirty && login_form.email.$invalid)">
        <label for="firstname" ng-if="login_form.pass.$dirty && login_form.pass.$error.required" >password is required. </label>
        <label for="em" ng-if="login_form.email.$dirty && login_form.email.$error.required">Email field is required.</label>
        <label for="em" ng-if="login_form.email.$dirty && login_form.email.$invalid">Please enter a valid Email address.</label>
        </div>      
        <div class="box" >
          <form name="login_form" ng-submit = "logCtrl.auth()" novalidate>          
              <div style="text-align: center;">
                  <p><input type="email" name="email" id="email" ng-model = "logCtrl.user.email" placeholder="Email" required></p>
                  <p><input type="password" name="pass" id="pass" ng-model = "logCtrl.user.pass" placeholder="Password" required></p>
                  <p><button type="submit" ng-disabled = "login_form.$invalid" class="btn btn-primary btn-lg">Log in</button></p>
              </div>     
              <br>
                <a href="#">Forgot Password?</a>
          </form>
        </div>
      </div>

      <div class="modal-footer bold">
          New To BuckBarter.com?
          <a ui-sref="register" class="btn btn-primary">Register</a>
      </div>

    <!-- </div> -->
    </div>
<!-- </div> -->