<link rel="stylesheet" href="css/custom/shopkeeper.css">
<page-header></page-header>
<div class="container-fluid">
  
  <!-- Main Header finish -->

  <div ng-controller="shopkprController as shCtrl" class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified navborder">
        <li ui-sref-active="active"><a ui-sref=".showProduct"><b>Show all Products</b></a></li>
        <li ui-sref-active="active"><a ui-sref=".addProduct"><b>Add Product</b></a></li>
        <li ui-sref-active="active"><a ui-sref=".updateProduct"><b>Update Product</b></a></li>
        <li ui-sref-active="active"><a ui-sref=".deleteProduct"><b>Delete Product</b></a></li>
      </ul>
      
      <div class="tab-content">
        <div ui-view></div>
        
        <!-- <div class="panel" ng-if="shCtrl.isSelected(1)">
          <!Show all Products      
          <h1>Hello{{shCtrl.name}}</h1>     
        </div>

        <div class="panel" ng-if="shCtrl.isSelected(2)">
          <add-product></add-product>
        </div>

        <div class="panel" ng-if="shCtrl.isSelected(3)">
          <! Update Product 
          <h1>in process</h1>
        </div>

        <div class="panel" ng-if="shCtrl.isSelected(4)">
          <! Delete Prodect 
          <h1>in process</h1>
        </div> -->

      </div>
    </div>
  </div>

</div>
