<page-header></page-header>

<div class="container">
	
	<div class="row">
	<div class="col-xs-12">
	<h1 class="text-center mainheading"><span>TERMS AND CONDITIONS</span></h1>
	<br>
	</div>
	</div>

	<div class="row">
	<div class="col-xs-12">
		<p><b>Dear Customers,</b></p>
		<br>
		<p>Welcome to BuckBarter.com !</p>
		<p>Thank you for using BuckBarter. We are sure you will find the use of BuckBarter convenient and easy.</p>
		
		<p>These Terms and Conditions govern your use of BuckBarter.com and the services provided by it. BuckBarter provides its services subject to the following terms, conditions, and provisions. By accessing, viewing, or using this website, www.BuckBarter.com, you indicate that you understand these Terms and Conditions and accept them as the legal equivalent of a signed, written contract, binding you to these Terms and Conditions.</p>

		<p><b>BuckBarter reserves the right to amend/modify these Terms and Conditions at any time.</b></p>

		<p>Your participation as a customer in this service will constitute acceptance of this agreement.</p>

		<br><br>

		<h3><u>Terms and Conditions</u></h3>

		<br>

		<ul type="disc">

		<li>
		<b class="size">You choose the retailer</b>
		<br><br>
		 <p class="indent">You are allowed to select / de-select a retailer of your choice from within the listed shops in your neighborhood. Your selection of the retailer should be based on the fact that the BuckBarter services your addresses and your comfort with the services offered. www.BuckBarter.com does not prompt or force you to choose a specific retailer. The registered retailers  specify their own services terms and conditions that are mentioned on the retailer’s specific web store.</p>
		</li>

		<br>

		<li>
		<b class="size">Orders placed by you</b>
		<br><br>
		<p class="indent"> Any order placed by you for goods listed or advertised on our website is an offer by you to purchase the goods selected in your order. No contract exists between you and us for the sale of any goods. We will send you an order acknowledgement shortly after you place your order, notifying you that we have received your order. This acknowledgement is not notification that we have accepted your order. Your order is passed to your chosen retailer without any delays, however the acceptance of the offer is at the discretion of your chosen retailer.</p>			
		</li>

		<br>

		<li>
		<b class="size">The contract</b>
		<br><br>
		<p class="indent"> While BuckBarter enables placement of your order with your chosen retailer, there is no contract of services to be delivered between you and BuckBarter. Your contract of goods to be delivered is with your chosen retailer and on the basis of specified terms and conditions of that specific retailer. The contract is subject to your right of cancellation. The retailer also has the right to terminate the contract if the price of the contract is not received from you.</p>
		</li>

		<br>

		<li>
		<b class="size">Product description and other details</b>
		<br><br>
		<p class="indent"> We have taken care to describe and show items as accurately as possible. Despite this, slight variations in items may occur. Every effort is made to ensure that prices shown on BuckBarter are accurate at the time of placing your order. However, at times the mentioned MRP on the website may vary from the prevailing MRP in the market place – in which case the MRP mentioned on the product pack would be considered to be the accurate MRP and the payments would need to be made by you basis that MRP to your chosen BuckBarter retailer, however, you have the option of refusing to purchase the product if it does not meet your expectations.</p>
		</li>

		<br>

		<li>
		<b class="size">Delivery charges</b>
		<br><br>
		<p class="indent"> The price of an item does not include the delivery charge. Charges, if any, would be charged directly by your chosen AaramShop retailer and the same would be specified by him in the stated terms and conditions and is dependent on delivery method you choose.</p>
		</li>

		<br>

		<li>
		<b class="size">Delivery timings</b>
		<br><br>
		<p class="indent"> The terms related to the time of delivery of the goods, you order, resides with the retailer, you choose.</p>
		</li>

		<br>

		<li>
		<b class="size">Product Quality</b>
		<br><br>
		<p class="indent"> BuckBarter is not responsible for the quality of any available product. Any complaint of quality should be notified to the manufacturer.</p>
		</li>

		<br>

		<li>
		<b class="size">Payment</b>
		<br><br>
		<p class="indent"> As a customer you can make payments Online & Cash on Delivery. In case of COD all payments would be made by you to your chosen retailer directly and only at the time of delivery and after you have verified and are satisfied with the goods delivered. However in case of Online Payments, BuckBarter will directly settle the payments to your selected retailer post delivery confirmation.</p>
		</li>

		<br>

		<li>
		<b class="size">Refund policy</b>
		<br><br>
		<p class="indent"> We encourage you to Check your orders when they are delivered, however if you still find any defect in the delivered products you may request "Order Cancellation" in the dashboard. In such scenarios the products will be taken back and a credit note will be added to your dashboard.</p>
		</li>

		<br>

		<li>
		<b class="size">Warranty</b>
		<br><br>
		<p class="indent"> As such we don’t provide any warranty on the products but if any products having warranty as per product manufacturer policy please contact your retailer or us within 2 days after delivery of the products.</p>
		</li>

		<br>

		<li>
		<b class="size">Products Damaged On Arrival</b>
		<br><br>
		<p class="indent"> In the unlikely event of you receiving goods that are damaged, please refuse the delivery and request your chosen retailer to replace with the correct item.</p>
		</li>

		<br>

		<li>
		<b class="size">Wrong Item Delivered</b>
		<br><br>
		<p class="indent"> If, by mistake the retailer supplies you with the incorrect item you must notify him and ask for the same to be replaced with the correct item or refuse delivery.</p>
		</li>

		<br>

		<li>
		<b class="size">Liability Exclusions</b>
		<br><br>
		<p class="indent"> We do not have specific knowledge of your computer, your mobile device and its configuration. Whilst we will use our best efforts to minimize disruption to your system, we cannot be responsible for any unforeseen consequences of our services. BuckBarter will not be liable for any damage to the laptop/desktop, loss of data, loss of revenue or profits, or any special, incidental, contingent, or consequential damages, however caused, before, during or after the use of our site. BuckBarter will not be responsible or liable for any loss that is not reasonably foreseeable.</p>
		</li>

		<br>

		<li>
		<b class="size">Confidentiality</b>
		<br><br>
		<p class="indent"> BuckBarter agrees not to disclose any and all information or data files supplied with, stored on, or recovered from your equipment except to employees or agents of BuckBarter subject to confidentiality agreements or as required by law.</p>
		</li>

		<br>

		<li>
		<b class="size">Disclaimer</b>
		<br><br>
		<p class="indent"> Although all attempts are made to provide accurate, current and reliable information, you should recognize the possibility that errors may exist in the information available on this Web site. BuckBarter expressly denies any warranty of the accuracy, reliability, or timeliness of any information made available on this Web site, and shall not be held liable for any losses caused by reliance upon the accuracy, reliability, or timeliness of the information. A person who relies upon information made available on this Web site does so at the person’s own risk. Products advertised on this site may be modified or discontinued without prior notice. Prices for products are subject to change without prior notice.</p>
		</li>

		<br>

		<li>
		<b class="size">Cancellation Policy</b>
		<br><br>
		<p class="indent"> You can cancel your order atmost 2 hours after which you have placed an order by calling our customer service. In such a case,if your order is not imported, we will refund any payments already made by you for the order.</p>
		</li>

		</ul>
	</div>
	</div>
</div>
